.CFUserTextEncoding
.DS_Store
.Xauthority
.android/
.cache/
.config/nvim/plugins/*
.config/nvim/.nerdtree-bookmarks
.config/coc/
.config/configstore/
.config/gh/
.config/ranger/
.docker/
.dotfiles/
.emulator_console_auth_token
.gitconfig
.gradle/
.local/
.npm/
.npmrc
.nvm/
.ssh/
.vnc/
.yarnrc
Applications
Desktop
Documents
Downloads
Drive
Library
Movies
Music
Pictures
Projects
Public
