.DS_Store
CLAUDE.md
tags
nob
nob.old
vim/tmp/
vim/pack/picopack
git/git-user*
git/ignore
.zsh_history
.zcompcache
kitty/theme.conf
fish/fish_variables
fish/conf.d/localonly.fish
fish/completions/openspec.fish
fish/completions/openspec.fish.backup-2026-03-09T12-23-15-177Z
