set -g prefix 'C-s'                                             # Set prefix to be Ctrl-s
set -g base-index 1                                             # Start windows index from 1
set -g renumber-windows on                                      # Automatically renumber windows

set -sg escape-time 0                                           # No delay for escape key press
set -sg default-terminal "xterm-256color"                       # Set default terminal

set -g window-status-current-format \
  '#{?window_zoomed_flag,*,▸}#W#{?window_zoomed_flag,*,◂}'      # Active window name format
set -g window-status-format " #W "                              # Non-active window name format

set -g pane-border-status bottom                                # Pane border status position
set -g pane-border-format ' #{pane_index} '                     # Panes border format
set -g pane-border-style 'fg=colour236 bg=default'              # Inactive pane border style
set -g pane-active-border-style 'fg=colour28 bg=default'        # Colour active pane's border

set -g status-position bottom                                   # Statusbar position
set -g status-left ""                                           # Differentiate windows from session name using a pipe and spaces
set -g status-left-length 20                                    # Length of characters for the left section in the statusbar
set -g status-right '#[fg=colour28]#{?window_zoomed_flag,🔍,}' # Show pane index in top right corner
set -g status-style 'bg=default fg=colour28'                    # Statusbar styles

bind C-s send-keys 'C-s'                                        # Restore C-s
bind C-l send-keys 'C-l'                                        # Restores C-l
bind C-k send-keys 'C-k'                                        # Restores C-k
bind Enter resize-pane -Z                                       # Bind pane zoom to enter key
bind t swap-window -t 1                                         # Swap current window with first
bind k confirm kill-window                                      # Kill window with confirmation
bind + set-window-option synchronize-panes                      # Synchronize input to all panes
bind r source-file $XDG_CONFIG_HOME/tmux/tmux.config            # Reload configuration
bind c new-window -c "#{pane_current_path}"                     # Creates a new window in the same path
bind l split-window -h -c "#{pane_current_path}"                # Create new horizontal split in same path
bind j split-window -v -c "#{pane_current_path}"                # Create new vertical split in same path

bind -T copy-mode-vi v send-keys -X begin-selection             # Add selection copy using v in copy mode
bind -T copy-mode-vi r send-keys -X rectangle-toggle            # Add rectangular selection copy using r in copy mode

IS_MACOS="uname | grep -q Darwin"
IS_VIM="ps -o state= -o comm= -t '#{pane_tty}' \
    | grep -iqE '^[^TXZ ]+ +(\\S+\\/)?g?(view|n?vim?x?)(diff)?$'"

# Setup copy to system clipboard depending on OS
if-shell "$IS_MACOS" \
    'bind -T copy-mode-vi y send-keys -X copy-pipe-and-cancel "pbcopy"' \
    'bind -T copy-mode-vi y send-keys -X copy-pipe-and-cancel "xclip -in -selection clipboard"'

# Setup mouse support and copy on drag
set -g mouse on
if-shell "$IS_MACOS" \
    'bind -T copy-mode-vi MouseDragEnd1Pane send-keys -X copy-pipe-and-cancel "pbcopy"' \
    'bind -T copy-mode-vi MouseDragEnd1Pane send-keys -X copy-pipe-and-cancel "xclip -in -selection clipboard"'

# Smart pane *switching* with awareness of Vim splits.
bind -n 'C-h' if-shell "$IS_VIM" 'send-keys C-h' 'select-pane -L'
bind -n 'C-j' if-shell "$IS_VIM" 'send-keys C-j' 'select-pane -D'
bind -n 'C-k' if-shell "$IS_VIM" 'send-keys C-k' 'select-pane -U'
bind -n 'C-l' if-shell "$IS_VIM" 'send-keys C-l' 'select-pane -R'

# Smart pane *resizing* with awareness of Vim splits.
bind -n M-k if-shell "$IS_VIM" 'send-keys Space "-h"' 'resize-pane -U 5'
bind -n M-j if-shell "$IS_VIM" 'send-keys Space "=h"' 'resize-pane -D 5'
bind -n M-h if-shell "$IS_VIM" 'send-keys Space "-v"' 'resize-pane -L 5'
bind -n M-l if-shell "$IS_VIM" 'send-keys Space "=v"' 'resize-pane -R 5'
