<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.guychouk.pass</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>32AF0DBE-ACEB-4DDD-8451-077B0121F367</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C08D4EF3-5DB4-4E8C-BBB3-2F53CECCD170</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>999C292E-E285-40AE-A5C3-76FEDDFFCC10</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C2B0CAB0-347F-4A84-B065-DA16F711CAB0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string>Copy password</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>32AF0DBE-ACEB-4DDD-8451-077B0121F367</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy username</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C8E51AD3-A3E0-4E87-91DF-7C22DFF119FE</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Edit in Vim (opens a kitty tab)</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C2B0CAB0-347F-4A84-B065-DA16F711CAB0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6BAFFD29-40D8-492D-BA49-10FA7B34186C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C8E51AD3-A3E0-4E87-91DF-7C22DFF119FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>47768B4D-E032-4BDC-BC11-E37D0C6F5609</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>guychouk</string>
	<key>description</key>
	<string>Dedicated pass(1) workflow for listing entries, copy password / username and edit in MacVim</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Pass</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>PATH="/opt/homebrew/bin:/usr/bin:/bin:$PATH"
pass show "{query}" | head -1 | tr -d '\n'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C2B0CAB0-347F-4A84-B065-DA16F711CAB0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6BAFFD29-40D8-492D-BA49-10FA7B34186C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C08D4EF3-5DB4-4E8C-BBB3-2F53CECCD170</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>pass</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>PATH="/opt/homebrew/bin:/usr/bin:/bin:$PATH"
scripts/list-pass.sh</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>List pass entries -- Enter: copy password, Cmd: copy username, Alt: edit in Vim</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>999C292E-E285-40AE-A5C3-76FEDDFFCC10</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>PATH="/opt/homebrew/bin:/usr/bin:/bin:$PATH"
pass show "{query}" | sed -n '2p' | tr -d '\n'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>32AF0DBE-ACEB-4DDD-8451-077B0121F367</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>PATH="/opt/homebrew/bin:/usr/bin:/bin:$PATH"
EDITOR="mvim -f" pass edit "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C8E51AD3-A3E0-4E87-91DF-7C22DFF119FE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Finished editing in MacVim</string>
				<key>title</key>
				<string>pass</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>47768B4D-E032-4BDC-BC11-E37D0C6F5609</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Lock icon created by Those Icons from Flaticon</string>
	<key>uidata</key>
	<dict>
		<key>32AF0DBE-ACEB-4DDD-8451-077B0121F367</key>
		<dict>
			<key>note</key>
			<string>With ⌘ the Username is chosen (head -2 of entry)</string>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>47768B4D-E032-4BDC-BC11-E37D0C6F5609</key>
		<dict>
			<key>xpos</key>
			<real>530</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>6BAFFD29-40D8-492D-BA49-10FA7B34186C</key>
		<dict>
			<key>xpos</key>
			<real>535</real>
			<key>ypos</key>
			<real>75</real>
		</dict>
		<key>999C292E-E285-40AE-A5C3-76FEDDFFCC10</key>
		<dict>
			<key>xpos</key>
			<real>95</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>C08D4EF3-5DB4-4E8C-BBB3-2F53CECCD170</key>
		<dict>
			<key>xpos</key>
			<real>535</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>C2B0CAB0-347F-4A84-B065-DA16F711CAB0</key>
		<dict>
			<key>note</key>
			<string>With a simple Enter the Password is chosen (head -1 of entry)</string>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>75</real>
		</dict>
		<key>C8E51AD3-A3E0-4E87-91DF-7C22DFF119FE</key>
		<dict>
			<key>note</key>
			<string>Holding ⌥ opens the whole entry with MacVIM</string>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>guycho.uk</string>
</dict>
</plist>
