<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.guychouk.mdlinks</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>2F1F9A80-BB90-4794-BB29-BD6BE5B64DDF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D648B515-791E-4EFD-AE8A-5753FFF52328</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>896FBCAC-BB79-458E-AC96-80006BA45A49</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2F1F9A80-BB90-4794-BB29-BD6BE5B64DDF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D648B515-791E-4EFD-AE8A-5753FFF52328</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0798DAFE-73F0-4AA7-AA16-0CCB4E9C4617</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>guychouk</string>
	<key>description</key>
	<string>File Action that extracts links from a markdown file and opens the chosen one in the browser</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Markdown Links</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string></string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>PATH="/opt/homebrew/bin:/usr/bin:/bin:$HOME/bin:$PATH"
scripts/parse-links.sh "$mdfile"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Extract links from the selected markdown file</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D648B515-791E-4EFD-AE8A-5753FFF52328</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0798DAFE-73F0-4AA7-AA16-0CCB4E9C4617</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>net.daringfireball.markdown</string>
				</array>
				<key>name</key>
				<string>Extract links (mdlinks)</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>896FBCAC-BB79-458E-AC96-80006BA45A49</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>mdfile</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2F1F9A80-BB90-4794-BB29-BD6BE5B64DDF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>File Action (right-click a markdown file, or select and hit the file actions shortcut) that runs mdlinks against it, lists every link found as a Script Filter, and opens the chosen link in the default browser.</string>
	<key>uidata</key>
	<dict>
		<key>0798DAFE-73F0-4AA7-AA16-0CCB4E9C4617</key>
		<dict>
			<key>xpos</key>
			<real>990</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>2F1F9A80-BB90-4794-BB29-BD6BE5B64DDF</key>
		<dict>
			<key>xpos</key>
			<real>720</real>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>896FBCAC-BB79-458E-AC96-80006BA45A49</key>
		<dict>
			<key>xpos</key>
			<real>540</real>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>D648B515-791E-4EFD-AE8A-5753FFF52328</key>
		<dict>
			<key>xpos</key>
			<real>825</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
